* {
    margin: 0;
    padding: 0;
}


header {
    text-align: center;
}

header nav {
    padding: 20px;
    background: rgb(50, 105, 223);
}

header ul {
    list-style: none;
}

header li {
    margin-left: 50px;
    display: inline-block;
}


header a {
    color: #fff;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

header a:hover {
    border-bottom: 2px solid #fff;
}

#about,#content,#footer,#profile {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#about,#content,#footer,#profile h1 {
    color: #fff;
    padding-top: 20px;
}

#profile {
    background: rgb(56, 119, 255);
    width: 100%;
    height: 500px;
}

#about {
    background: rgb(45, 95, 202);
    width: 100%;
    height: 500px;
}

#content {
    background: rgb(38, 80, 170);
    width: 100%;
    height: 500px;
}

#footer {
    background: rgb(31, 65, 138);
    width: 100%;
    height: 500px;
}